language: java
sudo: false
install: true

jdk:
  - oraclejdk8

script:
  - mvn verify -B -e -V

cache:
  directories:
    - $HOME/.m2/repository
    # for analysis
    - $HOME/.sonar

notifications:
  email: false
