<%
  # other mechanisms kick in when you set this global var.
  # the value will be displayed in the blue title bar across the top of the widget
  @widget_title=widget_properties['widgetTitle']
%>
<div class="dashbox">

  <% if widget_properties['isMarkdown'] %>
    <%= Api::Utils.markdown_to_html(widget_properties['userText']) -%>
  <% else %>
    <%= widget_properties['userText'] -%>
  <% end %>

</div>
